#tabLocal, #tabRadio, #tabYoutube, #tabBrowser{
    font-size: 24px;
    height: 100%;
    padding: 1%;
    line-height: 49px;
}
#tabLocal:active, #tabRadio:active{
	background-color: red;
}
#localTable, #radioTable, #youtubeTable{
    width: 100%;
    font-size: 14px;
}
#localTable tr td, #radioTable tr td, #youtubeTable tr td{
    border-bottom: solid 1px #4A4A4A;
    padding: 2%;
    -webkit-tap-highlight-color: rgba(100, 100, 0, 0);
    padding-left: 30px;
}
#localTable tr td:active, #radioTable tr td:active{
	background-color: red;
}
#current{
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    width: 100%;
    position: fixed;
    margin-top:50px;
    background-color: black;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}
#localTable tr td img, #radioTable tr td img{
    width: 18px;
    vertical-align: middle;
    padding-right: 10px;
    float: left;
    position: absolute;
    z-index: -1;
    left: 5px;
}
#content{
    padding-top: 170px;
}
#songController{
    margin-top: 20px;
}
#songController img{
	padding-left: 7px;
    padding-right: 7px;
    width: 20px;
    height: 20px;
}
#songController img:active{
	background-color: red;
}
#progressIcon{
	    background-image: url('../images/loading.gif');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 100;
    background-size: 100%;
}

